[submodule "my_plugins/vim-livedown"]
	path = my_plugins/vim-livedown
	url = https://github.com/shime/vim-livedown
[submodule "my_plugins/indentLine"]
	path = my_plugins/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "my_plugins/eclim"]
	path = my_plugins/eclim
	url = https://github.com/ervandew/eclim
[submodule "my_plugins/coc.nvim"]
	path = my_plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "my_plugins/emmet-vim"]
	path = my_plugins/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "my_plugins/vim-scala"]
	path = my_plugins/vim-scala
	url = https://github.com/derekwyatt/vim-scala
	branch = master
